*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}
body{
    margin: 0;
    padding: 0;
}
section{
    background-color:rgb(56, 55, 55) ;
}

.you{
    display: flex;
    width:100%;
    padding: 0 0 0 20px;
}
.you .tube{
    width: 5%;
}
.you h1{
    font-style: italic;
    font-size: 40px;
    margin: 0 0 0 40px;
    width: 95%;
}
@media screen and (max-width:350px){
    .you{
        padding: 0;
    }
    .tube{
        width: 30%;
    }
    .you h1{
        width: 70%;
        font-size: 30px;
        margin: 0 0 0 50px;
    }
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.title{
    background-color: rgb(56, 55, 55);
    width: 40%;
    height: fit-content;
    padding: 50px;
    color: white;
}
.title p{
    margin: 30px 0 97px 0;
}
.title a{
    text-decoration: none;
    color: orange;
}
.dog-first{
    width: 40%;
}
.dog-first img{
    width: 100%;
}
.dog-second{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: fit-content;
}

.col img{
    width: 100%;
}
.column img{
    width: 100%;
    margin:-5px 0 0 0;
}
@media screen and (max-width:1150px){
    .title{
        padding: 10px;
    }
}
@media screen and (max-width:950px){
    .title p{
        margin: 15px 0 40px 0; 
    }
}
@media screen and (max-width:700px){
    .title{
        width: 100%;
    }
    .dog-first{
        width: 100%;
    }
    .dog-second{
        width: 100%;
    }  
}    

.king{
    display: flex;
}
.main-second{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 300px;
}
.row{
    width: 50%;
}
.row-second{
    width: 50%;
}
.row {
    width: 100%;
	background-image: url("https://i.pinimg.com/originals/a4/fb/63/a4fb635cf7165b7e6c0111a1c502b9c7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.row-second{
    width: 100%;
	background-image: url("https://st4.depositphotos.com/27201292/i/600/depositphotos_416974632-stock-photo-closeup-vertical-shot-cute-dog.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.king-second{
    height: 300px;
}
.king-second {
    width: 30%;
	background-image: url("https://media.4-paws.org/b/e/2/d/be2d88ceb9613ac5066bd11dd950faaf2671bef7/VIER%20PFOTEN_2019-03-15_001-1998x1999-600x600.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width:700px){
    .king{
        display: block;
    }
    .main-second{
        width: 100%;
        display: flex;
    }
    .king-second{
        width: 100%;
        display: block;
    }
}
